
ProjectWorkRomaBE/src/main/resources/application.properties
ProjectWorkRomaBE/src/main/resources/application.yml
ProjectWorkRomaBE/src/main/resources/application.yml
ProjectWorkRomaBE/src/main/resources/application.properties
ProjectWorkRomaBE/src/main/resources/application.yml
ProjectWorkRomaBE/src/main/resources/application.properties
*.yml
*.properties

.DS_Store
**/.DS_Store
*.properties
*.properties
*.properties
*.yml
