@charset "ISO-8859-1";
/*css reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	background-color: #8080c0;
	background-image: url("Immagini/backgroundimg.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.nametitle {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	padding: 16px;
	cursor: pointer;
}

.orizzontale {
	
	border: none;
	height: 1px;
	background-color: #ffffff;
	margin:10px;
	width:90%;
	
}

.inline-p1 {
	display: inline-block;
	margin: 20px;
}

.card1 {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: "Poppins";
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	width: 1000px;
}

.box1 {
	justify-content: space-around;
	justify-content: center;
	align-items: center;
}
.linkAdd {
    margin-top: 20px;
    width: 250px;
    padding: 10px;
    background-color: #8080c0;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
     text-decoration: none;
}

.linkAdd:hover {
    background-color: #B0B0D6;
}
.buttonSubmit {
    margin-top: 20px;
    width: 250px;
    padding: 10px;
    background-color: #8080c0;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: #B0B0D6;
}

.buttonReset {
    width: 250px;
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid #8080c0;
    border-radius: 3px;
    color: #8080c0;
    text-decoration: none;
    cursor: pointer;
}

.buttonReset:hover {
    background-color: white;
}

input, textarea, select{
	padding: 16px;
	border-radius: 8px;
	border: 3px;
	justify-content: space-around;
}


label, input, select{
	display: inline-block;
	vertical-align: middle;
	width: 220px;
}



#skill, #workExperience, #candidate, #jobInterview, #education,
	#commercialData {
	display: none;
}

.content-table{
	border-collapse: collapse;
	margin: 15px 0;
	font-size: 0.9em;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
	background-color: #8080c0;
	color: white;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 15px 15px;
}

.content-table tbody tr {
	border-bottom: 1px solid white;
}

.content-table tbody tr:nth-of-type(even){
	background-color:rgba(255, 255, 255, 0.6);
}

.content-table tbody tr:last-of-type {
	border-bottom: 2px solid #8080c0;
}
