@charset "ISO-8859-1";
/*css reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container1 {
	margin: 0 auto;
	max-width: 800px;
	align-items: center;
}

body {
	background-color: #8080c0;
	background-image: url("Immagini/backgroundimg.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nametitle {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	padding: 16px;
	cursor: pointer;
}

.orizzontale {
	
	border: none;
	height: 2px;
	background-color: #ffffff;
	margin:10px;
	width:700px;
	
}

.inline-p1 {
	display: inline-block;
	margin: 20px;
}

.card1 {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: "Poppins";
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	width: 1000px;
}

.box1 {
	justify-content: space-around;
	justify-content: center;
	align-items: center;
}
.linkAdd {
    margin-top: 20px;
    width: 250px;
    padding: 10px;
    background-color: #8080c0;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.linkAdd:hover {
    background-color: #B0B0D6;
}
.buttonSubmit {
    margin-top: 20px;
    width: 250px;
    padding: 10px;
    background-color: #8080c0;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: #B0B0D6;
}

.buttonReset {
    width: 250px;
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid #8080c0;
    border-radius: 3px;
    color: #8080c0;
    text-decoration: none;
    cursor: pointer;
}

.buttonReset:hover {
    background-color: white;
}

input, textarea, select {
	padding: 16px;
	border-radius: 8px;
	border: 3px;
	justify-content: space-around;
}

label, input, select {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 20px;
	max-width: 900px;
	
}

thead {
	color: #ffffff;
	background-color: #bfbfdf;;
	font-size: 16px;
	text-align: center;
	
	
}
td{
	border-radius: 5px 5px 0 0;
	padding:10px;
	
}
th{
	border-radius: 0 0 5px 5px ;
	
}
tbody {
	background-color: #f1f1f8;
	border: 6px;
	border-radius: 20px;
	font-size: 16px;
	text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd; 
}
tbody tr:nth-child(even) {
    background-color: #f8f8fc; 
}

tbody tr:nth-child(odd) {
    background-color: #e9e9f3; 
}


#skill, #workExperience, #candidate, #jobInterview, #education,
	#commercialData {
	display: none;
}

