@charset "ISO-8859-1";
/*css reset*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.dimension{
    margin: 0 auto;
    max-width: 540px;
    align-items: center;
}
body{
	background-color: #d8cdf3;
	background-image: url("Immagini/backgroundimg.png");
	display: flex;
	align-items: center;
	justify-content: center;
}
