@charset "ISO-8859-1";
/*css reset*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
	background-image: url('Immagini/backgroundimg.png');
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: "Poppins";
	height: 850px;
	width: 1000px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
}

.welcomeMessage {
	text-align: center;
}

.welcomeSection {
	border-bottom: 1px solid white;
	padding-bottom: 20px;
}

.imgProfile { 
	margin: 20px;
	margin-bottom:30px;
	height: 150px;
	width: 150px;
	border-radius: 100px;
}

.description {
	text-align: left;
	font-family:"Poppins";
	font-size:20px;
}

.employeeType {
	color: #7A7A7A;
}

.utente {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

