@charset "ISO-8859-1";
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body{
	background-image: url('Immagini/backgroundimg.png');
	height: 100vh;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
	background-color:rgba(255, 255, 255, 0.6);
	font-family: "Poppins";
	height:600px;
	width: 1206px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
}
table {
	width: 600px;
	
}

th {
	color: #ffffff;
	background-color: #8080c0;
	font-size: 16px;
	text-align: center;
	border-radius:  5px 5px 0 0 ;
	padding:20px;
	
	
}

td {
	background-color: #ffffff;
	border: 6px;
	text-align: center;
	border-radius: 0 0 5px 5px;
	padding:20px;
}

button, a{
	width: 40px;
  	padding: 5px;
  	background-color: #8080c0;
  	border: none;
  	border-radius: 3px;
  	color: #fff;
  	cursor:pointer;
}