@charset "ISO-8859-1";
/*css reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('Immagini/backgroundimg.png');
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: "Poppins";
	height: 800px;
	width: 1000px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.boxLogin {
	justify-content: center;
	padding-right: 120px;
	margin: 140px 0;
	border-right: 1px solid white;
	height: 100%;
}

.loginTitle {
	font-size: 30px;
	margin-bottom: 50px;
	font-weight: 600;
}

.formLogin {
	width: 300px;
}

.inputField, select {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

select{
	appearance: none;
  -webkit-appearance: none;
	position: relative;
}


.buttonLogin {
	margin-top: 20px;
	width: 70%;
  	padding: 10px;
  	background-color: #8080c0;
  	border: none;
  	border-radius: 3px;
  	color: #fff;
  	cursor:pointer;
}

.buttonLogin:hover{
	background-color: #B0B0D6;
}

.buttonRegister {
	width: 70%;
  	padding: 10px;
  	margin-top: 15px;
  	background-color: transparent;
  	border: 2px solid #8080c0;
  	border-radius: 3px;
  	color: #8080c0;
  	text-decoration: none;	
    cursor:pointer;
}

.buttonRegister:hover{
	background-color: white;
}

.title {
	margin-bottom: 50px;
	text-align: center;
	text-wrap: wrap;
	color:#8080c0;
	font-family: "Poppins";
}

.imageLogin {
	width: 450px;
	height: 450px;
}

.welcomeMessage {
	text-align: center;
}

.hidden {
	display: none;
}