@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container1 {
    margin: 0 auto;
    max-width: 800px;
    align-items: center;
}

body {
    background-color: #8080c0;
    background-image: url('Immagini/backgroundimg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card1 {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "Poppins";
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 900px;
    text-align: center; /* Center text content */
}

.h1title {
    font-size: 30px;
    font-family: "Poppins", sans-serifs;
}

.buttonHome {
    width: 40%;
    padding: 10px;
    background-color: rgb(128, 128, 192);
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-family: "Poppins";
}

.orizzontale {
    border: none;
    height: 2px;
    background-color: #dcdced;
    margin: 30px;
    width: 90%;
}

.blocco {
    display: flex; /* Display flex to arrange elements side by side */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    gap: 20px; /* Add gap between elements */
}