@charset "ISO-8859-1";
/*css reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container1 {
	margin: 0 auto;
	max-width: 800px;
}

body {
    background-color: #d8cdf3;
    height: 100vh;
	background-image: url("Immagini/backgroundimg.png");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title1 {
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	padding: 16px;
	cursor: pointer;
}
.nametitle{
	cursor:pointer;
}
hr  {
	border: none;
	height: 2px;
	background-color: #dcdced;
	margin: 30px 0;
}

.inline-p1 {
        display: inline-block;  
        margin-right: 10px;  
    }
.card1 {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: "Poppins";
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	height:700px;
	width: 800px;
}
.orizzontale {
	
	border: none;
	height: 2px;
	background-color: #f5f5fa;
	margin:30px;
	width:100%;
	
}
.box1 {
	justify-content: space-around;
	justify-content: center;
}


.buttonSubmit {
	width: 40%;
	padding: 10px;
	background-color:  #8080c0;
	border: none;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
}

.buttonReset {
	width: 40%;
	padding: 10px;
	margin-top: 15px;
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: #808080;
	text-decoration: underline;
	cursor: pointer;
}

input, textarea, select, label {
	padding: 20px;
	border-radius: 16px;
	border: 3px;
	justify-content: space-around;
	font-family:"Poppins";
	display: inline-block;
	vertical-align: middle;
	width:220px;
}
table {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

thead {
    color: #ffffff;
    background-color: #8080c0; 
    font-size: 16px;
    text-align: center;
}

th, td {
    padding: 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
    background-color: #f8f8fc;
}

tbody tr:nth-child(odd) {
    background-color: #e9e9f3;
}